// src/components/ChatWindow/ChatWindow.scss


.chatWindow {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
    justify-content: center;
    align-items: center;
}