// src/components/InputBar/InputBar.scss

.inputBar {
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 20px;
  
    .inputField {
      flex-grow: 1;
      border: none;
      background: none;
      outline: none;
    }
  }