// src/components/SquareButton/SquareButton.scss

.squareButton {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-right: 20px;
    background-color: #D2B48C;
    &:hover {
      background-color: rgb(245,211,230);
    }
  
    svg {
      width: 20px;
      height: 20px;
    }
  }

.spacer {
  display: flex;
  align-items: center;
  height: 60px;
} 



