// src/components/MessageInput/MessageInput.scss

.messageInput {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  height: 70px;
  border-radius: 10px;
  background-color: #F8F8FF;
  flex-shrink: 0;

  .inputBar {
    flex: 1;
  }
}

@media (max-width: 600px) {
  .messageInput {
    width: 90%;
    margin-bottom: 30px;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .messageInput {
    width: 85%;
    margin-bottom: 15px;
  }
}