// src/App.scss

html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.app {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
    overflow: hidden;
    
}
